.search-revenue{
    padding-bottom: 30px;
    padding-top: 10px;
}
.select-date{
    border-radius: 4px;
    padding: 5px 10px;
}
.input-mini{
    position: relative;
}
.input-mini span{
    position: absolute;
    right: 0;
    color: #c00;
    top: 12px;
}
.errorClass{
    border-bottom: 1px solid #c00;
}
.success-update{
    display: none;
}
.profile-image input[type="file"]{
    background: orange;
    color: #fff;
    padding: 5px;
}
.btn-change-pass{
    padding-top: 20px;
    padding-bottom: 20px;
}
