{
    "swagger": "2.0",
    "info": {
        "title": "Laravel and Swagger",
        "description": "Getting started with Laravel and Swagger",
        "termsOfService": "",
        "contact": {
            "email": "annt@lienketso.vn"
        },
        "version": "1.0.0"
    },
    "host": "sale.baohiemoto.vn",
    "basePath": "/",
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "/api/get-revenua-customer": {
            "get": {
                "tags": [
                    "\u0110\u01a1n h\u00e0ng"
                ],
                "description": "Tr\u1ea3 v\u1ec1 doanh thu th\u00e1ng c\u1ee7a ng\u01b0\u1eddi d\u00f9ng",
                "parameters": [
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "S\u1ed1 \u0111i\u1ec7n tho\u1ea1i c\u1ee7a ng\u01b0\u1eddi d\u00f9ng",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "422": {
                        "description": "Missing Data"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/get-transaction-by-status": {
            "get": {
                "tags": [
                    "\u0110\u01a1n h\u00e0ng"
                ],
                "description": "Tr\u1ea3 v\u1ec1 s\u1ed1 l\u01b0\u1ee3ng \u0111\u01a1n h\u00e0ng theo tr\u1ea1ng th\u00e1i",
                "parameters": [
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "S\u1ed1 \u0111i\u1ec7n tho\u1ea1i c\u1ee7a ng\u01b0\u1eddi d\u00f9ng",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Tr\u1ea1ng th\u00e1i ( active : Ho\u00e0n th\u00e0nh ; cancel : H\u1ee7y \u0111\u01a1n, received : \u0110ang \u0111\u1ee3i duy\u1ec7t  )",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "422": {
                        "description": "Missing Data"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/get-transaction-related": {
            "get": {
                "tags": [
                    "\u0110\u01a1n h\u00e0ng"
                ],
                "description": "L\u1ea5y ra danh s\u00e1ch c\u00e1c \u0111\u01a1n h\u00e0ng m\u1edbi nh\u1ea5t",
                "parameters": [
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "S\u1ed1 \u0111i\u1ec7n tho\u1ea1i c\u1ee7a ng\u01b0\u1eddi d\u00f9ng",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "422": {
                        "description": "Missing Data"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/get-commission-month": {
            "get": {
                "tags": [
                    "\u0110\u01a1n h\u00e0ng"
                ],
                "description": "Ti\u1ec1n hoa h\u1ed3ng trong th\u00e1ng",
                "parameters": [
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "S\u1ed1 \u0111i\u1ec7n tho\u1ea1i c\u1ee7a ng\u01b0\u1eddi d\u00f9ng",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "422": {
                        "description": "Missing Data"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/get-transaction-list-status": {
            "get": {
                "tags": [
                    "\u0110\u01a1n h\u00e0ng"
                ],
                "description": "Tr\u1ea3 v\u1ec1 danh s\u00e1ch \u0111\u01a1n h\u00e0ng theo tr\u1ea1ng th\u00e1i",
                "parameters": [
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "S\u1ed1 \u0111i\u1ec7n tho\u1ea1i c\u1ee7a ng\u01b0\u1eddi d\u00f9ng",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Tr\u1ea1ng th\u00e1i ( active : Ho\u00e0n th\u00e0nh ; cancel : H\u1ee7y \u0111\u01a1n, received : \u0110ang \u0111\u1ee3i duy\u1ec7t  )",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "422": {
                        "description": "Missing Data"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/post-booking-service": {
            "post": {
                "tags": [
                    "\u0110\u1eb7t h\u00e0ng"
                ],
                "description": "Form th\u00f4ng tin \u0111\u1eb7t d\u1ecbch v\u1ee5",
                "parameters": [
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "S\u1ed1 \u0111i\u1ec7n tho\u1ea1i kh\u00e1ch h\u00e0ng",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "T\u00ean kh\u00e1ch h\u00e0ng",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "license_plate",
                        "in": "query",
                        "description": "Bi\u1ec3n s\u1ed1 xe",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "expiry",
                        "in": "query",
                        "description": "Ng\u00e0y h\u1ebft h\u1ea1n",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "factory",
                        "in": "query",
                        "description": "H\u00e3ng b\u1ea3o hi\u1ec3m ( id h\u00e3ng )",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "description": "Lo\u1ea1i xe",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "products",
                        "in": "query",
                        "description": "S\u1ea3n ph\u1ea9m ( Truy\u1ec1n v\u00e0o d\u1ea1ng ID : 1,2,3  )",
                        "required": false,
                        "type": "array"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "422": {
                        "description": "Missing Data"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/get-user-infor": {
            "get": {
                "tags": [
                    "Users"
                ],
                "description": "Tr\u1ea3 v\u1ec1 danh s\u00e1ch \u0111\u01a1n h\u00e0ng theo tr\u1ea1ng th\u00e1i",
                "parameters": [
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "S\u1ed1 \u0111i\u1ec7n tho\u1ea1i c\u1ee7a ng\u01b0\u1eddi d\u00f9ng",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "422": {
                        "description": "Missing Data"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        }
    },
    "definitions": {}
}
